{{#hasExplicitSetter}}{{#hasParent}}&{{& parentQualifiedName}}::{{& explicitSetter}}{{/hasParent}}{{^hasParent}}&{{& explicitSetter}}{{/hasParent}}{{/hasExplicitSetter}}{{^hasExplicitSetter}}{{#hasParent}}&{{& parentQualifiedName}}::{{name}}{{/hasParent}}{{^hasParent}}&{{& qualifiedName}}{{/hasParent}}{{/hasExplicitSetter}}