{{#hasExplicitGetter}}{{& explicitGetter}}( ){{/hasExplicitGetter}}{{^hasExplicitGetter}}{{#hasParent}}{{parentQualifiedName}}::{{name}}{{/hasParent}}{{^hasParent}}{{qualifiedName}}{{/hasParent}}{{/hasExplicitGetter}}